.page {
    margin: 32px 0;
}

.section {
    background-size: cover;
    background-position: center center;
}

.page1 {
    background-image: url(/static/img/washer-repair-near-me.jpg);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-size: cover;
    margin-bottom: 30px;
}

@media (max-width: 768px) {
    .page1 {
        height: auto;
    }
}

.page1__header {
    padding: 32px 0;
}

.page1__header-name {
    font-size: calc(1rem + 0.4vw);
    font-weight: lighter;
    text-align: left;
    color: #37474f;
}

.page1__header-phone {
    font-size: calc(1rem + 0.3vw);
    text-align: right;
    color: #37474f;
}
.page1__header-phone:hover {
    color: #37474f;
}

.icon-phone {
    margin-right: 0.4rem;
    height: calc(1.2rem + 0.3vw);
    width: calc(1.2rem + 0.3vw);
    background-size: 100%;
    background-image: url(/static/img/phone.png);
    background-repeat: no-repeat;
    display: inline-block;
}

.page1__menu {
    border-bottom: 1px solid #d3d3d342;
    min-height: 80px;
}

.page1__menu-block {
    padding: 0;
    list-style: none;
    margin: auto;
}

.page1__menu-item {
    display: inline-block;
    font-size: calc(0.7rem + 0.3vw);
    padding: 7px calc(1rem + 0.3vw);
}

.page1__menu-item a {
    color: #37474f;
}

.text-shadow {
    text-shadow: 1px 1px 6px black;
}

.page1__menu-sep {
    display: inline-block;
    border: 0.5px solid lightgray;
    box-shadow: 0 0 1px rgba(0,3,6,1);
    height: calc(0.8rem + 0.3vw);
}

.after-nav {
    padding-top: 80px
}

.page1__what {
    margin: 64px 0;
}

.page1__what-title {
    margin-bottom: 30px;
    font-size: calc(1.2rem + 2vw);
    font-weight: bold;
}

.page1__what-city {
    display: block;
    color: #41C1D8;
    font-size: calc(0.7rem + 2vw);
    font-weight: bold;
}

.page1__form {

}

.page1__form-name {
    text-align: center;
    font-size: calc(0.2rem + 0.8vw);
    height: calc(2.5rem + 2vw);
    border-radius: 24px;
    margin-right: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
}

.page1__form-number {
    text-align: center;
    font-size: calc(0.2rem + 0.8vw);
    height: calc(2.5rem + 2vw);
    border-radius: 24px;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    margin-right: 33px !important;
}

.page1__form-btn {
    box-shadow: 10px 10px 20px rgba(0,3,6,0.5);
    background-color: #41C1D8;
    border-color: #41C1D8;
    font-size: calc(0.7rem + 1vw);
    font-weight: bold;
    height: calc(2.5rem + 2vw);
    width: calc(20rem + 3vw);
    border-radius: 24px;
    padding: 0.375rem 1.75rem !important;
}


.page1__motivators {
    margin-bottom: 56px;
}

.page1__motivators-item {
    margin-bottom: 32px;
    width: 50%;
    display: inline-block;
    padding: 8px calc(1rem + 0.5vw);
}
@media (min-width: 992px) {
    .page1__motivators-item {
        width: auto;
    }
}

.page1__motivators-item-first {
    text-align: center;
    color: #41C1D8;
    font-size: calc(1.2rem + 0.7vw);
    font-weight: bold;
}

.page1__motivators-item-second {
    text-align: center;
    font-size: calc(0.9rem + 0.7vw);
}

.page1__motivators-item-special {
    border: 2px dashed #41C1D8;
    border-radius: 16px;
    padding: 16px;
    margin-left: 1rem;
}

.page1__motivators-item-special .page1__motivators-item-first {
    font-size: calc(1rem + 1vw) !important;
}

.icon-scissors {
    right: 1rem;
    height: 2rem;
    width: 2rem;
    min-width: 2rem;
    min-height: 2rem;
    background-size: 1.8rem;
    background-image: url(/static/img/scissors.png);
    background-repeat: no-repeat;
    display: inline-block;
    position: relative;
}

.center-vert {
    min-height: 10em;
    display: table-cell;
    vertical-align: middle
}

.section_dark {
    background-color:rgba(0, 0, 0, 0.5);
    width: 100%;
    height: 100%;
}

.full-height {
    height: 100%;
}

.page-padding {
    padding-left: 5%;
    padding-right: 5%;
}

.container {
    max-width: 100%
}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.margin-auto  {
    margin: auto;
}


.reset_border {
    border: none !important;
}

.page2 {

}

.page2__header, .page3__header, .page4__header, .page5__header, .page6__header {
    font-size: calc(1.2rem + 2vw);
    font-weight: bold;
    color: #37474f;
    margin: 48px 0;
    text-align: center;
}

.page2__items-line {
    max-width: 1536px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
}
@media (max-width: 1290px) {
    .page2__items-line {
        grid-template-columns: 1fr 1fr 1fr;
    }
}
@media (max-width: 900px) {
    .page2__items-line {
        grid-template-columns: 1fr 1fr;
    }
}

.page2__item {
    padding: 32px;
    margin-bottom: 32px;
    margin-right: 16px;
    margin-left: 16px;
    box-shadow: 0 4px 8px 4px rgba(0, 0, 0, 0.02), 0 3px 4px 0 rgba(0, 0, 0, 0.08);
    border-radius: 16px;
    height: 300px;
}
.page2__item:hover {
    box-shadow: 0 8px 16px 8px rgba(0, 0, 0, 0.04), 0 6px 8px 0 rgba(0, 0, 0, 0.1);
}
@media (max-width: 768px) {
    .page2__item {
        padding: 16px;
        margin-bottom: 16px;
        margin-right: 8px;
        margin-left: 8px;
        height: 180px;
    }
}

.page2__item__img {
    height: 120px;
    width: 120px;
    margin: auto;
}
@media (max-width: 768px) {
    .page2__item__img {
        height: 64px;
        width: 64px;
    }
}

.page2__item__img img {
    width: 100%;
    height: 100%;
}

.page2__item__s1 {
    position: relative;
    width: 100%;
    height: 50%;
    border-bottom: 4px solid lightgray;
}

.page2__item__s2 {
    position: relative;
    height: 200%;
    width: 50%;
    left: 2px;
    top: 2px;
    border-right: 4px solid lightgray;
}

.page2__item__title {
    margin-top: 32px;
    font-size: 20px;
    color: #37474f;
    text-align: center;
}
@media (max-width: 768px) {
    .page2__item__title {
        font-size: 12px;
    }
}

.page2__footer {
    text-align: center;
    font-size: 20px;
    font-weight: bold;
}

.page4 {

}

.page4__map {
    height: 800px;
    margin: auto;
}

.page6 {

}

.page6__comments {
    max-width: 1024px;
    margin: auto;
}


.text-accent {
    color: #41C1D8;
}

.abcfooter {
    padding: 5%;
    color: white;
    background-color: #363535;
}
@media (max-width: 992px) {
    .abcfooter {
        padding: 5% 0 0;
    }
}

.abcfooter a {
    color: white;
}

.abcfooter__left {
}

.abcfooter__left__menu {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
}

.abcfooter__form__sale-msg {
    margin: 32px 0;
    font-weight: bold;
    font-size: 16px;
}

.abcfooter__form__email {
    text-align: left;
    font-size: calc(0.4rem + 0.5vw);
    height: calc(2rem + 1vw);
    border-radius: 18px;
    margin-right: 0 !important;
    border-bottom-right-radius: 0 !important;
    border-top-right-radius: 0 !important;
    padding-left: 24px;
    max-width: 390px;
}

.abcfooter__form__btn {
    text-align: center;
    font-size: calc(0.5rem + 0.5vw);
    height: calc(2rem + 1vw);
    border-radius: 18px;
    border-bottom-left-radius: 0 !important;
    border-top-left-radius: 0 !important;
    margin-right: 33px !important;
    box-shadow: 10px 10px 20px rgba(0,3,6,0.5);
    background-color: #41C1D8;
    border-color: #41C1D8;
    font-weight: bold;
    width: calc(20rem + 3vw);
    padding: 0.375rem 1.75rem !important;
}

.abcfooter__right {
    text-align: right;
}
@media (max-width: 992px) {
    .abcfooter__right {
        text-align: center;
        width: 100%;
    }
}

.margin-lg-right {

}
@media (max-width: 992px) {
    .margin-lg-right {
        margin-right: 2rem;
    }
}

.abcfooter__right__phones {
    margin: 16px 0;
}

.abcfooter__right__social {
    margin-bottom: 16px;
}

.abcfooter__right__social-icon {
    margin-right: 1rem;
    height: calc(2rem + 0.3vw);
    width: calc(2rem + 0.3vw);
    background-size: 100%;;
    background-repeat: no-repeat;
    display: inline-block;
}

.icon-vk {
    background-image: url(/static/img/vk.svg);
}

.icon-whatsapp {
    background-image: url(/static/img/whatsapp.svg);
}

.icon-tg {
    background-image: url(/static/img/telegram.svg);
}

.abcfooter__right__abcservice {
    margin-top: 32px;
}
@media (max-width: 992px) {
    .abcfooter__right__abcservice {
        display: block;
        width: 100%;
        padding: 16px;
        background-color: #41C1D8;
        color: white;
    }
}

.abcfooter__right__policy {
    margin: 8px 0;
}


/* Modal */
.abcmodal {
    background: linear-gradient(150deg, #41C1D8, #157DE6);
    border-radius: 16px;
}

.abcmodal__btn-close {
    color: white;
}

.abcmodal__btn-do {
    border-radius: 16px;
    background-color: #363535;
    color: white;
    font-size: 1.5rem;
}

.abcmodal__body {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
}

.abcmodal__body__header {
    text-align: center;;
    margin-bottom: 16px;
    color: white;
}
.abcmodal__body__header > * {
    font-size: calc(0.9rem + 0.7vw)
}

.abcmodal__body__form__policy {
    font-size: 0.7rem;
}

.abcmodal__body__form__policy * {
    color: white !important;
}

.abcmodal__body__form {

}

.abcmodal__body__form__irow {
    margin-top: 16px;
    margin-bottom: 16px;
    border-radius: 16px;
    font-size: 0.8rem !important;
    text-align: center;
}

/* Alert */
.abcalert {
    top: 90px;
    right: 10px;
    position: fixed
}

.datepicker {
    z-index: 1051;
}