<div class="alert alert-success alert-dismissible fade hide abcalert" id="abcAlertId" role="alert">
    <span id="abcAlertMsgId"></span>
    <button type="button" class="close" aria-label="Close">
        <span aria-hidden="true" onclick="abcService54.abcAlert.hide();">&times;</span>
    </button>
</div>
