<footer class="d-flex flex-row justify-content-lg-between justify-content-center abcfooter" id="idFooter">
    <div class="d-lg-flex flex-lg-column abcfooter__left d-none d-lg-block">
        <div class="abcfooter__left__menu">
            {% for item in env['menu'] %}
                <div><a href="{{ item.url }}">{{ item.name }}</a></div>
            {% endfor %}
        </div>
         <div class="d-flex flex-column">
             <h5 class="abcfooter__form__sale-msg">Подпишитесь на рассылку и получите скидку 10% на ремонтные работы</h5>
             <form action="">
                 <div class="d-flex flex-row">
                     <label class="sr-only" for="footer_form-email">Имя</label>
                     <input type="text" class="abcfooter__form__email form-control mb-2 mr-lg-2" id="footer_form-email" placeholder="Ваш email">

                     <button type="submit" class="btn btn-primary abcfooter__form__btn mb-2">Подписаться на рассылку</button>
                 </div>
             </form>
             <span><small class="text-accent">Подписка на рассылку означает ваше согласие с условиями политики конфидециальности</small></span>
         </div>
    </div>
    <div class="d-flex flex-column abcfooter__right">
        <div class="abcfooter__right__social d-flex flex-row justify-content-lg-end justify-content-center">
            <a href="wa.me/79130000139"><div class="abcfooter__right__social-icon icon-whatsapp"></div></a>
            <a href=""><div class="abcfooter__right__social-icon icon-vk"></div></a>
            <a href=""><div class="abcfooter__right__social-icon icon-tg"></div></a>
        </div>
        <div class="d-flex flex-lg-column justify-content-center flex-row abcfooter__right__phones">
            <a class="margin-lg-right" href="tel:73833343444">334 - 34 - 44</a>
            <a href=" tel:73833343499">334 - 34 - 99</a>
        </div>
        <a href="mailto:web@abcservice54.ru?subject=Запрос с сайта abcservice54.ru">web@abcservice54.ru</a>
        <a href="" class="d-block d-lg-none abcfooter__right__policy"><span class="text-accent">Политика конфидециальности</span></a>
        <span class="text-accent abcfooter__right__abcservice">2019 © ООО "АкадемБытЦентр-Сервис"</span>
    </div>
</footer>