<div class="modal fade" id="abcModal" tabindex="-1" role="dialog" aria-labelledby="abcModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content abcmodal">
            <div class="modal-header reset_border">
                <button type="button" class="close abcmodal__btn-close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body abcmodal__body">
                <div class="abcmodal__body__header">
                    <h5>Оставьте ваши контакты, и наш специались свяжется с вами</h5>
                </div>
                <div class="abcmodal__body__form">
                    <form action="/application-modal" method="post" id="abcApplicationModalFormId">
                        <input type="text" name="name" required minlength="3" maxlength="64" class="abcmodal__body__form__irow form-control" placeholder="Как вас зовут?">
                        <input type="tel" name="phone" required pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$"
                               class="abcmodal__body__form__irow form-control" placeholder="Ваш номер телефона?">
                        <input type="text" name="reason" minlength="8" maxlength="512" class="abcmodal__body__form__irow form-control" placeholder="Что у вас сломалось?">
                        <input type="text" name="datetime" data-timepicker="true"  data-position="right bottom" class="datepicker-here abcmodal__body__form__irow form-control" placeholder="Когда вам удобно обсудить поломку?">
                        <div class="modal-footer reset_border d-flex justify-content-center">
                            <button type="submit" class="btn abcmodal__btn-do" onclick="abcService54.makeApplication('#abcApplicationModalFormId');">Вызвать мастера</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>