<div class="page page4" id="urlPage4">
    <h4 class="page4__header">География доставки</h4>
    <div class="page4__map">
        <script type="text/javascript" charset="utf-8" async src="https://api-maps.yandex.ru/services/constructor/1.0/js/?um=constructor%3Aa1197e07ad4f4a5ae623b2383ec6620da5867af928ef1acb14491882d4a31d13&amp;width=800&amp;height=800&amp;lang=ru_RU&amp;scroll=true"></script>
    </div>
</div>