<div class="page page2 page-padding" id="urlPage2">
    <h4 class="page2__header">Мы починим почти все</h4>
    <div class="d-flex flex-column align-items-center justify-content-center">
        <div class="page2__items-line">
        {% for item in env['page2']['items'] %}
            <div class="page2__item" data-toggle="modal" data-target="#abcModal">
                <div class="page2__item__img d-flex align-items-center justify-content-center">
                    <img src="{{ url_for('static', filename='img/' + item['img']) }}" alt="{{ item.img }}">
                </div>
                <div class="page2__item__title">
                    <span>{{ item.title }}</span>
                </div>
            </div>
        {% endfor %}
        <div class="page2__item" data-toggle="modal" data-target="#abcModal">
            <div class="page2__item__img">
                <div class="page2__item__s1">
                    <div class="page2__item__s2"></div>
                </div>
            </div>
            <div class="page2__item__title">
                <span>Мелкая бытовая техника</span>
            </div>
        </div>
        </div>
    </div>
    <div class="page2__footer"><span>Мы не ремонтируем
        <span class="text-accent">телевизоры</span>,
        <span class="text-accent">музыкальные центры</span>,
        <span class="text-accent">компьютеры</span> и
        <span class="text-accent">мобильные телефоны</span></span></div>
</div>