<div class="page page6 page-padding" id="urlPage6">
    <h4 class="page6__header">Наши отзывы на Flamp</h4>
    <div class="page6__comments">
        <a class="flamp-widget" href="//novosibirsk.flamp.ru/firm/abc_servis_ooo_servisnyjj_centr_po_remontu_stiralnykh_mashin_i_kholodilnikov-141265769361889"  data-flamp-widget-type="responsive-new" data-flamp-widget-id="141265769361889" data-flamp-widget-width="100%" data-flamp-widget-count="3">Отзывы о нас на Флампе</a><script>!function(d,s){var js,fjs=d.getElementsByTagName(s)[0];js=d.createElement(s);js.async=1;js.src="//widget.flamp.ru/loader.js";fjs.parentNode.insertBefore(js,fjs);}(document,"script");</script>
    </div>
</div>