<div class="section fp-section page1" id="urlPage1">
    <div class="section_dark">
        <div class="full-height">
            <nav class="navbar fixed-top navbar-expand-xl navbar-light bg-light page1__menu">
                <a class="navbar-brand d-none d-xl-block" href="#urlPage1"><h4 class="page1__header-name nopadding">АкадемБытЦентр-Сервис</h4></a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavDropdown" aria-controls="navbarNavDropdown"
                        aria-expanded="false" aria-label="Toggle navigation">
                        <span class="navbar-toggler-icon">
                            <i class="fa fa-navicon"></i>
                        </span>
                </button>
                <div class="navbar-brand nopadding">
                    <div class="d-block d-xl-none">
                        <a href="#urlPage1"><h4 class="page1__header-name">АкадемБытЦентр-Сервис</h4></a>
                        <a class="page1__header-phone d-flex align-items-center justify-content-end" href="tel:73833343444">
                            <span class="icon-phone"></span>334 - 34 - 44
                        </a>
                    </div>
                </div>
                <div class="collapse navbar-collapse" id="navbarNavDropdown">
                    <ul class="navbar-nav page1__menu-block d-flex flex-column flex-xl-row align-items-xl-center">
                        {% for item in env['menu'] %}
                        <li class="nav-item page1__menu-item">
                            <a href="{{ item.url }}">{{ item.name }}</a>
                        </li>
                        {% if not loop.last %}
                        <div class="d-none d-xl-block page1__menu-sep"></div>
                        {% endif %}
                        {% endfor %}
                    </ul>
                </div>
                <div class="d-none d-xl-block">
                    <a class="page1__header-phone d-flex align-items-center justify-content-end" href="tel:73833343444">
                        <span class="icon-phone"></span>334 - 34 - 44
                    </a>
                </div>
            </nav>
            <div class="page-padding after-nav d-flex justify-content-between flex-column full-height">
                <div></div>
                <div class="page1__what">
                    <h2 class="page1__what-title text-shadow text-center text-lg-left">Ремонт бытовой техники
                        <span class="page1__what-city">в Новосибирске, Бердске и Кольцово</span></h2>
                    <div class="page1__form d-none d-lg-block">
                        <form  class="d-flex" action="/application" method="post" id="abcApplication1FormId">
                            <div>
                                <div class="d-flex flex-row">
                                    <label class="sr-only" for="page1_form-name">Имя</label>
                                    <input type="text" name="name" required minlength="3" maxlength="64" class="page1__form-name form-control mb-2 mr-lg-2" id="page1_form-name"
                                           placeholder="Ваше имя">
                                    <label class="sr-only" for="page1_form-number">Телефон</label>
                                    <input type="tel" name="phone" required pattern="^((8|\+7)[\- ]?)?(\(?\d{3}\)?[\- ]?)?[\d\- ]{7,10}$"
                                           class="page1__form-number form-control mb-2 mr-lg-2" id="page1_form-number" placeholder="+79995272490">

                                    <button type="submit" class="btn btn-primary page1__form-btn mb-2" onclick="abcService54.makeApplication('#abcApplication1FormId');">Заказать звонок</button>
                                </div>
                                <div class="form-inline">
                                    <div class="form-check" style="margin-left: 32px;">
                                        <input class="form-check-input" type="checkbox" id="page1_form-policy" checked>
                                        <label class="form-check-label" for="page1_form-policy">Согласен(а) с условиями
                                            <a style="color: white; text-decoration: underline;" href="">&nbsp;политики конфиденциальности</a></label>
                                    </div>
                                </div>
                            </div>
                            <div class="ml-auto"></div>
                        </form>
                    </div>
                    <div class="page1__form d-block d-lg-none">
                        <div class="form-inline">
                            <button type="submit" class="btn btn-primary page1__form-btn margin-auto mb-2" data-toggle="modal" data-target="#abcModal">Сделать заявку</button>
                        </div>
                    </div>
                </div>
                <div class="page1__motivators d-flex flex-column flex-lg-row justify-content-center">
                    <div class="d-flex">
                        <div class="page1__motivators-item">
                            <div>
                                <div class="page1__motivators-item-first text-shadow">20 000</div>
                                <div class="page1__motivators-item-second text-shadow">выполненных ремонтов</div>
                            </div>
                        </div>
                        <div class="page1__motivators-item">
                            <div>
                                <div class="page1__motivators-item-first text-shadow">18</div>
                                <div class="page1__motivators-item-second text-shadow">лет работы</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex">
                        <div class="page1__motivators-item">
                            <div>
                                <div class="page1__motivators-item-first text-shadow">Бесплатно</div>
                                <div class="page1__motivators-item-second text-shadow">выезд мастера*</div>
                            </div>
                        </div>
                        <div class="page1__motivators-item">
                            <div>
                                <div class="page1__motivators-item-first text-shadow">6</div>
                                <div class="page1__motivators-item-second text-shadow">месяцев гарантии</div>
                            </div>
                        </div>
                    </div>
                    <div class="d-flex justify-content-center align-items-center">
                        <div class="page1__motivators-item-special">
                            <div>
                                <div class="page1__motivators-item-first text-shadow">300 рублей</div>
                                <div class="page1__motivators-item-second text-shadow">скидка при обращении на сайте</div>
                            </div>
                        </div>
                        <div class="icon-scissors"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>